header {
    background: #2c3e50;
    color: #ffffff;
}
#container-header {
    background: #00aa5b;
}
aside {
    background: #e75c24;
    color: #ffffff;
}
#footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    background: #2372da;
    color: #ffffff;
}
#par {
    background: #000;
    color: #fff;
}